<a href="https://colab.research.google.com/github/marciogsantana/engenharia_machine_learning/blob/main/Desafio_IGTI_M3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Desafio IGTI Módulo 3**

---

Seleção de Modelos de Aprendizado de Máquina

### *Importando* bibliotecas

In [ ]:
import pandas as pd #biblioteca para manipulação de dados
import numpy as np #biblioteca para utilizacao de vetores e matrizes
import matplotlib.pyplot as plt #bibloteca para plotar graficos

### Carregamento dos dados

In [ ]:
#lendo o csv que contem as base de dados em dfs
df = pd.read_csv('/content/phpOJxGL9.csv')

In [ ]:
#imprimindo as 5 primeiras linhas do df para confirmação
df.head(5)

   V1      V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65  Female   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62    Male  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62    Male   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58    Male   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72    Male   3.9  2.0  195  27   59  7.3  2.4  0.40      1

In [ ]:
# Verificando o numero de amostras (linhas) e features (colunas) do dataset. 
print('Amostras e Features:', df.shape)

Amostras e Features: (583, 11)

In [ ]:
# Verificando quais são os tipos das features
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'Class'], dtype='object')

### Pré processamento

In [ ]:
print(np.unique(df['Class']))

[1 2]

Mapeamentos das classes

In [ ]:
#criando um dicionario de dados para o mapeamento
#name_to_class = {
#    1: 0,
#    2: 1,
#}

name_to_V2 = {
    'Female':0,
    'Male':1,
}

#substituindo os valores categóricos pelo mapeamento
#df['Class'] = df['Class'].map(name_to_class)
df['V2'] = df['V2'].map(name_to_V2)

#check
df.head(5)

   V1  V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65   0   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62   1  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62   1   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58   1   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72   1   3.9  2.0  195  27   59  7.3  2.4  0.40      1

Uma outra etapa importante do pré-processamento consiste na avaliação de dados faltantes.

In [ ]:
# Analisando o resumo da base
df.describe()

               V1          V2          V3  ...          V9         V10       Class
count  583.000000  583.000000  583.000000  ...  583.000000  583.000000  583.000000
mean    44.746141    0.756432    3.298799  ...    3.141852    0.947064    1.286449
std     16.189833    0.429603    6.209522  ...    0.795519    0.318492    0.452490
min      4.000000    0.000000    0.400000  ...    0.900000    0.300000    1.000000
25%     33.000000    1.000000    0.800000  ...    2.600000    0.700000    1.000000
50%     45.000000    1.000000    1.000000  ...    3.100000    0.947064    1.000000
75%     58.000000    1.000000    2.600000  ...    3.800000    1.100000    2.000000
max     90.000000    1.000000   75.000000  ...    5.500000    2.800000    2.000000

[8 rows x 11 columns]

In [ ]:
df.isnull().sum() #verificação de elementos faltantes

V1       0
V2       0
V3       0
V4       0
V5       0
V6       0
V7       0
V8       0
V9       0
V10      0
Class    0
dtype: int64

Os modelos implementados no sklearn recebem como entrada para a modelagam um ou mais arrays. Dessa forma, precisamos modificar o df original para que seja possível a modelagem correta. 

Para isso, vamos separar o label das amotras, armazenar o nome das featues já que os arrays não fazem isso e depois retirar a coluna de labels do df original. Em seguida, vamos converter o df para array usando o numpy!

In [ ]:
#df classifiers

# armazenando os labels em um array
labels = np.array(df['Class'])

# salvando a ordem das features
feature_list_cf = list(df.columns)

# removendo a coluna de labels do df original
df = df.drop('Class', axis = 1)

# check
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10'], dtype='object')

In [ ]:
# convertendo df para array
data = np.array(df)

### Classificação com SVM e RandomForestClassifier

In [ ]:
#importar o modelo SVR e suas bibliotecas
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform
from scipy.stats import randint
from sklearn.metrics import f1_score, make_scorer

### 1o. SVC com Random Search

In [ ]:
#definindo o tipo de validacao cruzada e o numero de folds
cv_strat = StratifiedKFold(n_splits = 10)

#definindo a estrategia de score a partir da metrica f1
f1 = make_scorer(f1_score)

#definindo hiperparâmetros
distributions = dict(kernel = ['sigmoid', 'poly', 'rbf'], 
                     C = uniform(loc=1, scale=10))

#instânciando meu classificador
classifier = SVC()

#instanciando e modelando o grid search com os hiperparametros e a validação definidas.
random_cv = RandomizedSearchCV(classifier, distributions, cv = cv_strat, scoring = f1, random_state = 54, n_iter = 5)
random_cv.fit(data, labels)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   error_score=nan,
                   estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                                 class_weight=None, coef0=0.0,
                                 decision_function_shape='ovr', degree=3,
                                 gamma='scale', kernel='rbf', max_iter=-1,
                                 probability=False, random_state=None,
                                 shrinking=True, tol=0.001, verbose=False),
                   iid='deprecated', n_iter=5, n_jobs=None,
                   param_distributions={'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ffacdf1ae90>,
                                        'kernel': ['sigmoid', 'poly', 'rbf']},
                   pre_dispatch='2*n_jobs', random_state=54, refit=True,
                   return_train_score=False, scoring=make_scorer(f1_score),
                   verbose=0)

In [ ]:
#vamos olhar para todos os resultados encontrados!
print('Resumo de todos os resultados encontrados:\n\n', random_cv.cv_results_)

Resumo de todos os resultados encontrados:

 {'mean_fit_time': array([0.01511762, 0.06898134, 0.53582306, 0.62159181, 0.00688508]), 'std_fit_time': array([0.00252594, 0.01146963, 0.30060178, 0.28510738, 0.00040019]), 'mean_score_time': array([0.00200369, 0.00163147, 0.00162094, 0.00157762, 0.00170379]), 'std_score_time': array([1.09734386e-04, 1.28327566e-04, 1.83431144e-04, 6.12644827e-05,
       4.58341720e-05]), 'param_C': masked_array(data=[5.201829671407738, 1.0251668829378993,
                   6.182827281674762, 10.689362067194862,
                   5.4431572971725455],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_kernel': masked_array(data=['rbf', 'poly', 'poly', 'poly', 'sigmoid'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'C': 5.201829671407738, 'kernel': 'rbf'}, {'C': 1.0251668829378993, 'kernel': 'poly'}, {'C': 6.182827281674762, 'kernel': 'poly'}, {'C': 10.689362067194862, 'kernel': 'poly'}, {'C': 5.4431572971725455, 'kernel': 'sigmoid'}], 'split0_test_score': array([0.83168317, 0.83168317, 0.82      , 0.80808081, 0.73563218]), 'split1_test_score': array([0.83168317, 0.83168317, 0.83168317, 0.83168317, 0.74074074]), 'split2_test_score': array([0.83168317, 0.83168317, 0.83168317, 0.83168317, 0.69767442]), 'split3_test_score': array([0.84      , 0.84      , 0.84      , 0.84      , 0.66666667]), 'split4_test_score': array([0.84      , 0.84      , 0.84      , 0.84      , 0.73809524]), 'split5_test_score': array([0.84      , 0.84      , 0.84      , 0.84      , 0.78571429]), 'split6_test_score': array([0.82828283, 0.82828283, 0.82828283, 0.82828283, 0.74358974]), 'split7_test_score': array([0.82828283, 0.82828283, 0.82828283, 0.82828283, 0.65      ]), 'split8_test_score': array([0.82828283, 0.82828283, 0.82828283, 0.82828283, 0.76744186]), 'split9_test_score': array([0.82828283, 0.82828283, 0.82828283, 0.82828283, 0.83146067]), 'mean_test_score': array([0.83281808, 0.83281808, 0.83164976, 0.83045785, 0.73570158]), 'std_test_score': array([0.00490793, 0.00490793, 0.00624695, 0.00892085, 0.05131132]), 'rank_test_score': array([1, 1, 3, 4, 5], dtype=int32)}

In [ ]:
#vamos olhar para os melhores resultados encontrados pelo Grid Search
print('Melhor resultado f1:', random_cv.best_score_)
print('\n\nMelhor configuração de hiperparâmetros:', random_cv.best_params_)
print( '\n\nConfigurações de todos os hiperparâmetros do melhor estimado encontrado pelo GridSearch: \n', random_cv.best_estimator_)

Melhor resultado f1: 0.832818081808181


Melhor configuração de hiperparâmetros: {'C': 5.201829671407738, 'kernel': 'rbf'}


Configurações de todos os hiperparâmetros do melhor estimado encontrado pelo GridSearch:
 SVC(C=5.201829671407738, break_ties=False, cache_size=200, class_weight=None,
    coef0=0.0, decision_function_shape='ovr', degree=3, gamma='scale',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

2o. Random Forest com Random Search

In [ ]:
from scipy.stats import randint

In [ ]:
#definindo o tipo de validacao cruzada e o numero de folds
cv_strat = StratifiedKFold(n_splits = 10)

#definindo a estrategia de score a partir da metrica f1
f1 = make_scorer(f1_score)

#definindo hiperparâmetros
distributions1 = dict(n_estimators = randint(10, 1000),
                      bootstrap = [True, False],
                      criterion = ['gini', 'entropy'])

#instânciando meu classificador
classifier1 = RandomForestClassifier(random_state=54)

#instanciando e modelando o grid search com os hiperparametros e a validação definidas.
random_cv1 = RandomizedSearchCV(classifier1, distributions1, cv = cv_strat, scoring = f1, random_state = 54, n_iter = 5)
random_cv1.fit(data, labels)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_s...
                                                    random_state=54, verbose=0,
                                                    warm_start=False),
                   iid='deprecated', n_iter=5, n_jobs=None,
                   param_distributions={'bootstrap': [True, False],
                                        'criterion': ['gini', 'entropy'],
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ffae06585d0>},
                   pre_dispatch='2*n_jobs', random_state=54, refit=True,
                   return_train_score=False, scoring=make_scorer(f1_score),
                   verbose=0)

In [ ]:
#vamos olhar para todos os resultados encontrados!
print('Resumo de todos os resultados encontrados:\n\n', random_cv1.cv_results_)

Resumo de todos os resultados encontrados:

 {'mean_fit_time': array([2.23637841, 1.83381484, 1.79951355, 1.28574142, 1.76156077]), 'std_fit_time': array([0.03395478, 0.01022222, 0.02750288, 0.0156154 , 0.01410828]), 'mean_score_time': array([0.11198997, 0.09125595, 0.10843649, 0.06589072, 0.09002848]), 'std_score_time': array([0.01876396, 0.012752  , 0.00958552, 0.00745456, 0.01110043]), 'param_bootstrap': masked_array(data=[False, False, True, False, False],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_criterion': masked_array(data=['entropy', 'entropy', 'gini', 'entropy', 'entropy'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[908, 747, 913, 528, 718],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'bootstrap': False, 'criterion': 'entropy', 'n_estimators': 908}, {'bootstrap': False, 'criterion': 'entropy', 'n_estimators': 747}, {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 913}, {'bootstrap': False, 'criterion': 'entropy', 'n_estimators': 528}, {'bootstrap': False, 'criterion': 'entropy', 'n_estimators': 718}], 'split0_test_score': array([0.79569892, 0.79569892, 0.8172043 , 0.7826087 , 0.7826087 ]), 'split1_test_score': array([0.76404494, 0.76404494, 0.80434783, 0.75      , 0.76404494]), 'split2_test_score': array([0.82978723, 0.8172043 , 0.82105263, 0.8172043 , 0.82978723]), 'split3_test_score': array([0.82758621, 0.82758621, 0.85393258, 0.82758621, 0.82758621]), 'split4_test_score': array([0.74418605, 0.74418605, 0.79545455, 0.74418605, 0.75294118]), 'split5_test_score': array([0.775    , 0.775    , 0.7804878, 0.775    , 0.775    ]), 'split6_test_score': array([0.73684211, 0.73684211, 0.77922078, 0.73684211, 0.75324675]), 'split7_test_score': array([0.66666667, 0.66666667, 0.69047619, 0.66666667, 0.65853659]), 'split8_test_score': array([0.80434783, 0.80434783, 0.77419355, 0.80851064, 0.80434783]), 'split9_test_score': array([0.81318681, 0.80434783, 0.84210526, 0.80434783, 0.80434783]), 'mean_test_score': array([0.77573468, 0.77359248, 0.79584755, 0.77129525, 0.77524472]), 'std_test_score': array([0.04771915, 0.04575957, 0.04331496, 0.04606305, 0.04710665]), 'rank_test_score': array([2, 4, 1, 5, 3], dtype=int32)}

In [ ]:
#vamos olhar para os melhores resultados encontrados pelo Grid Search
print('Melhor resultado f1:', random_cv1.best_score_)
print('\n\nMelhor configuração de hiperparâmetros:', random_cv1.best_params_)
print( '\n\nConfigurações de todos os hiperparâmetros do melhor estimado encontrado pelo GridSearch: \n', random_cv1.best_estimator_)

Melhor resultado f1: 0.7958475474585391


Melhor configuração de hiperparâmetros: {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 913}


Configurações de todos os hiperparâmetros do melhor estimado encontrado pelo GridSearch:
 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=913,
                       n_jobs=None, oob_score=False, random_state=54, verbose=0,
                       warm_start=False)